# Игнорировать файлы окружения
.env

# Игнорировать временные файлы данных
*.tmp

# Игнорировать кеш Python
__pycache__/

# Игнорировать компилируемые файлы
*.build/
build/

# Игнорировать IDE
.vscode/
*.idea/
*.windsurf/